* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECEFF0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  flex-direction: column;

}

/* New CSS */

.course-container {
  margin-top: 20px;
  border: 3px solid gray;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.number {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.number h4 {
  font-size: 2rem;
}
.subject{
  text-align: center;
  font-size: 1.5rem;
}
.underline {
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  width: 150px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 6px;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #EE6C4D;
  width: 350px;
  /* padding: 10px; */
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.item-img img {
  height: 250px;
  width: 335px;
  border-radius: 20px;
}

.item-details {
  height: auto;
  width: 335px;
  /* border:1px solid black; */
  padding: 20px;
}

.item-details h5 {
  /* font-weight: bold; */
  font-family: 'Raleway', sans-serif;
}

.item-details h6 {
  font-size: 2rem;
}

.name {
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  margin-right: 5px;
}

.item-button {
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  width: 335px;
  padding: 10px 0 10px 0;
}

