* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SAAS Code */

div.stars {
  width: 330px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* Actual CSS */

body {
  background-color: #EE6C4D;
  font-family: 'Montserrat', sans-serif;
}



.main-container {
  margin-top: 10px;
}

.iframe-cont {
  height: 50px;
  border: 1px solid black;
  height: auto;
  border-right: none;
  border-radius: 2rem;
  background-color: #ECEFF0;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 96%;
  height: 93%;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 2rem;
}

.iframe-cont:hover {
  background: slategrey;
  transition: background 1s ease-in
}

.desc-container {
  border-radius: 2rem;
  padding: 50px;
  padding-left: 60px;
  border: 1px solid black;
  background-color: #ECEFF0;
  text-align: center;
}

#buttonContaniner {
  margin-top: 1rem;
  padding: 20px;
  background-color: #ECEFF0;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


.btn-vid {
  background-color: #EE6C4D;
  /* background-color: salmon; */
  border: 1px solid black;
  color: black;
  width: 70px;

}

.btn-vid:hover {
  transform: scale(1.5);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transition: transform 500ms ease-out;
}

#sub-heading {
  /* width: au; */
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  border-radius: 20px;

}


.card-desc {
  width: 94%;
  margin: 0;
  height: 200px;
}

/* Here starts dummy */

.card-main-container {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
}

.card-heading {
  border: 1px solid black;
  padding: 3px;
  border-radius: 6px;
  display: block;
  margin-bottom: 5px;
  color: #ECEFF0;
  background-color: black;
}

/* ..................................... */

.navbar {
  background-color: #ECEFF0;
}

#nav-a {
  font-size: 2rem;
}

#nav-a:hover {
  color: black;
  font-size: 2rem;
  transform: translate(40px);
}

.navbar-brand:hover {
  text-decoration-color: #fbc531;
}

.navbar .navbar-nav .nav-link {
  color: black;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fbc531;
}

.navbar .navbar-nav .active>.nav-link {
  color: #fbc531;
}

footer a:hover {
  color: #fed136 !important;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}

footer .cizgi {
  border-right: 1px solid #ECEFF0
}

@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}

.footer-cards {
  background-color: #ECEFF0;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: unset;
}

.icon-a {
  display: block;
  margin-top: .5rem;
}

.icon {
  margin-right: .3rem;
}

.sm-icon {
  color: black;
}

.sm-icon:hover {
  transform: scale(.7);
  transition: transform 500ms ease-out;
}

footer {
  background-color: #EE6C4D;
}


/* Comment section */
.comment-section {
  margin-top: 50px;

}

.comment-container {
  border: 1px solid #ECEFF0;
  border-radius: 20px;
}

.comment-col {
  padding: 20px;
}

.comment-col h2 {
  /* text-decoration: underline; */
  background-color: #ECEFF0;
  width: max-content;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 8px;

}

.comment-header {
  margin-left: 20px;
}

.comment-body {
  margin-left: 20px;

}

#comment-body-p {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.comment-div {
  background-color: #ECEFF0;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding: 20px;
}



#post-heading {
  margin-top: 18px;
  background-color: #ECEFF0;
  width: max-content;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  padding: 8px;
  margin-bottom: 20px;
}

.txt-area {
  border-radius: 20px;
}

#form-btn {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  margin-bottom: 10px;
}

.show {
  height: auto;
  overflow: visible;
}

.hide {
  height: 390px;
  overflow-y: hidden;
}

.color {
  background-color: #fed136;
}

#show {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}