* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}


.main-bar {
    background-color: #fff;
    padding: 8px;
}



.search-icon {
    display: inline;
}

.toogle-img {
    margin-right: 10px;
}

.main-profile {
    text-align: right;
}

.drop-img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.search-box {
    margin-top: 5px;
    border: 2px solid black;
    margin-left: 10px;
}

.drop-link-one {
    border: 1px solid black;
    border-radius: 10px;
}

.web-title {
    font-size: 2rem;
    margin: 0 5px;
    font-family: 'Montserrat', sans-serif;
}

.side-bar {
    height: 800px;
    background-color: #EE6C4D;


}

.ul-one,
.ul-two {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: justify;

}

a {
    text-decoration: none;
}

.side-links {
    text-decoration: none;
    color: black;
}

.side-links:hover {
    text-decoration: none;
    color: white;
}

.main-content {
    /*    width: 80%;*/
    height: 800px;
    background-color: #ECEFF0;
}

.main {
    position: relative;
}



li:hover {
    background: rgba(255, 255, 255, .2);
}

li {

    position: relative;
}

.horizontal-rule {
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    width: 90%;
    margin: 20px auto;
}

.side-bar-icon {
    margin: 10px 10px;
    text-align: end;
}

.link-text {

    position: absolute;
    left: 60px;
    top: 18px;

}


.main-left {
    height: auto;
    background-color: #EE6C4D;
    padding-top: .5rem;
    border-radius: 10px;

}

.main-right {
    height: auto;
    background-color: #ECEFF0;
    border-radius: 10px;

}

.watch {
    margin-left: 15px;

}

.gallery-item {
    flex-basis: 22%;
    height: 330px;
    padding: 0;
    /*    background-color: #ecb390;*/
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    position: relative;
}

.gallery-img img {
    height: 200px;
    width: 320px;
    display: block;
    margin: 5px 8px 10px 8px;
}

.latest-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.video-item {
    border-radius: 15px;
}

.title-one {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 15px;
}

.gallery-div a {
    margin-top: 7px;
}

.gallery-div a:hover {
    /* width:100px;
height: 40px; */
    /* background-color: rgb(17, 137, 241); */
    /* transition:  background-color 500ms linear; *
text-align: center;
/* line-height: 33px; */
    background-color: #EE6C4D;
}

.gallery-div:hover {
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.gallery-item:hover {
    transform: translateY(-10px);
}

.watch-two {
    background-color: aqua;
}

.main-two {
    display: flex;
    background-color: blueviolet;
}

.tutorial-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-item {
    border-radius: 10px;
    flex-basis: 18%;
    height: 350px;
    /*    background-color: brown;*/
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.gallery-div {
    /* height: 137px; */
    height: 135px;
}


.tgallery-item:hover {
    transform: translateY(-10px);
}

.t-frame {
    display: block;
    width: 100%;
}

.main-video {

    height: 1200px;
}

.form-one {
    display: inline;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

/* .btn-submit{
    display: block;
    position: absolute;
    margin-left: 100px;
    bottom: 0;
} */

.btn-div {
    margin-left: 20px;
    position: relative;
    margin-top: 7px;
}

.btn-submit:hover {
    background-color: #EE6C4D;
    border: 2px solid black;
}

.btn-submit {
    border: 1px solid black;
}

.pop-up {
    background-color: #8E9090;
    height: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 70px;
    position: absolute;
    border: 1px solid black;
    top: 40%;
    left: 40%;
}

.pop-up p {
    color: #EE6C4D;
    position: absolute;
    top: 20%;
    left: 25%;
    color: cornsilk;
}

.display-false {
    visibility: hidden;
}

/* history */
.history {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.history-heading{
    text-align: center;
    margin: 6px;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
}

.btn-group {
    padding: 13px;
    border: 2px solid #ECEFF0;
    border-radius: 20px;
}

.history-button{
    /* margin: 6px; */
    width: 330px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 2px solid rgb(60, 60, 60);
    font-size: 1rem;
    background-color: #ECEFF0;
}